{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
<style>
	body {
    background-color: black;
    background-image: url("{{ asset('images_the_district/fosyyyy.jpg') }}");
    background-size: cover;

}
</style>
		{{ form_errors(form) }}

		{{ form_start(form) }}

		<div class='container mt-4'>
			<div class=' couleur row justify-content-center'>
				<h1>Adresse de livraison</h1>

				<div class=" couleur col-12 mb-3">
					{{ form_row(form.nom) }}
				</div>

				<div class=" couleur col-12 mb-3">
					{{ form_row(form.prenom) }}
				</div>

				<div class=" couleur col-12 mb-3">
					{{ form_row(form.telephone) }}
				</div>

				<div class="couleur col-12 mb-3">
					{{ form_row(form.adresse) }}
				</div>

				<div class="couleur col-6 mb-3">
					{{ form_row(form.cp) }}
				</div>

				<div class="couleur col-6 mb-3">
					{{ form_row(form.ville) }}
				</div>


				<div class="couleur col-6 mb-3">
					{{ form_row(form.adresse_facturation) }}
				</div>
				<div class="couleur col-6 mb-3">
					{{ form_row(form.mode_paiement) }}
				</div>

				<div class="couleur col-6 mb-3">
					<div>
						<a href="{{ path ('app_pdf') }}" title="politique_de_confidentialité">
							{{ form_label(form.agreeTerms) }}
						</a>
						{{ form_widget(form.agreeTerms) }}
						{{ form_help(form.agreeTerms) }}
						<div class="form-error">
							{{ form_errors(form.agreeTerms) }}
						</div>
					</div>
				</div>

				<div class="couleur col-6 mb-3">
					{{ form_row(form.save) }}
				</div>

			</div>
		</div>

		{{ form_end(form) }}
	
{% endblock %}
