<h1>Chère/Cher {{ user.nom }},</h1>

<p>Merci pour votre récente commande sur The District ! Nous sommes ravis de vous informer que votre commande a bien été reçue et est actuellement en cours de traitement. Voici les détails :</p>

<p><strong>Nom du client :</strong> {{ user.nom }} {{ user.prenom }}</p>
<p><strong>Adresse de livraison :</strong> {{ user.adresse }}</p>
<p><strong>Date de commande :</strong> le {{ datejour }} à {{ dateheure }}</p>

<h2>Étapes suivantes :</h2>

<p><strong>Préparation :</strong> Nos équipes préparent soigneusement vos articles pour garantir leur fraîcheur et leur qualité.</p>
<p><strong>Expédition :</strong> Votre commande sera expédiée dans les 15 minutes.</p>
<p><strong>Livraison :</strong> La livraison est prévue pour le {{ datelivraison }}.</p>

<h2>Paiement :</h2>

<p>Le montant total de votre commande est de <strong>{{ commande.total }} euros</strong>, débité de votre mode de paiement sélectionné.</p>

<p>Pour toute question ou assistance, contactez-nous à reply@thedistrict.com Notre équipe est à votre disposition.</p>

<p>Merci de votre confiance, et nous espérons que vous apprécierez vos produits !</p>

<p>Cordialement,</p>

<p>L'équipe de The District</p>