{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="parallaxe">
    <div class="fs-1  ms-md-5 red">Les Catégories Favorites :</div>
    <div class="mid2 container my-5">
        <div class="row justify-content-center mt-3">


      {% for categorie in categories %}

      <div class="col-12 col-sm-6 col-lg-4 mt-3">
                     <a  href="{{ path ('app_platcat' , {categorie_id: categorie.id} ) }}">
                            <img src="{{ asset ('images_the_district/category/' ~ categorie.image) }}" class="imageanime imagecat img-fluid" alt="{{ categorie.libelle }}">
                            <div class="card-body">
                            </div>
                        </a>
                    </div>


          
                    {% endfor %}

           <div class="fs-1 ms-md-5 red">Nos plats star :</div>
                    {% for plats in plat %}
           <div class="col-12 col-sm-6 col-lg-4 mt-3">
                       <a href="commande.php?platcom=,{{plats.id }}">
                                <img src="{{ asset ('images_the_district/food/' ~ plats.image) }}" class="imageanime imageplat img-fluid" alt="{{ plats.libelle }}">
                                <div class="card-body">
                                </div>
                            </a>
                        </div>

        
                      
                        {% endfor %}

                  </div>
                   </div>
            
   </div>

{% endblock %}
