{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
 <div id="parent">
        <div id="banniere" class="row g-0">
            <video id="video" class="col-12" src="{{ asset('videos/123629-728697948_small.mp4') }}"

            style="width: 100vmax; height: 20vmax;" playsinline autoplay loop muted></video>
        </div>
        <div id="recherche" class="d-none d-sm-flex">
            <form class="col-12" role="search">
                <input class="form-control me-2" type="search" placeholder="Recherche..." aria-label="Search">
            </form>
        </div>
    </div>
 <div class="parallaxe">
        <div class="fs-1 ms-md-5 red">Les Catégories Favorites :</div>
        <div class="mid2 container my-5">
            <div class="row justify-content-center mt-3">
                {% for categorie in categories %}
                    <div class="col-12 col-sm-6 col-lg-4 mt-3">
                        <a href="{{ path('app_platcat', { categorie_id: categorie.id }) }}">
                            <img src="{{ asset('images_the_district/category/' ~ categorie.image) }}" class="imageanime imagecats img-fluid" alt="{{ categorie.libelle }}">
                            <div class="card-body">
                            </div>
                        </a>
                    </div>
                {% endfor %}

           <div class="fs-1 ms-md-5 red">Nos plats star :</div>
                    {% for plats in plat %}
           <div class="col-12 col-sm-6 col-lg-4 mt-3">
                       <a href="{{ path ("app_ajout_panier" , {id: plats.id}) }}">
                                <img src="{{ asset ('images_the_district/food/' ~ plats.image) }}" class="imageanime imageplats img-fluid" alt="{{ plats.libelle }}">
                                <div class="card-body">
                                </div>
                            </a>
                                  </div>
                {% endfor %}
            </div>
        </div>
    
   

{% endblock %}
