{% extends 'base.html.twig' %}

{% block title %}{ categorie.libelle }{% endblock %}

{% block body %}  
<body style="background-color:#000;">
    <div class="container-fluid g-0 row">

        <div class="row justify-content-center mt-3">

           <div class="fs-1 ms-md-5 red">Nos plats dans la categorie {{ categorie.libelle }} :</div>
           <div class="row justify-content-center">
                    {% for plats in plat %}
        <div class=" card col-4 flex-row mt-3 mx-md-5 " style="width: 35rem;">
                       <a href="commande.php?platcom={{plats.id }}"></a>
                                <img src="{{ asset ('images_the_district/food/' ~ plats.image) }}" class=" imageplat img-fluid" alt="{{ plats.libelle }}">
                                <div class="card-body">
                                 <h5 class="card-title mt-md-4">{{ plats.libelle }}</h5>
                          <p class="card-text texte">{{ plats.description }}</p>
                           <p class="card-text texte">{{ plats.prix}}</p>
                          <div class="d-flex justify-content-end">
                            <a href="{{ path ("app_ajout_panier" , {id: plats.id}) }}" class="btn btn-light" name="platcom" value="'.$plat['id'].'">Ajouter</a>
                          </div>
                        </div>
                </div>

                 {% endfor %}

</div>
</div>
</div>
</body>
{% endblock %}