{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container-fluid p-0">
     <div id="parent">
         <div id="banniere" class="row g-0">
             <img class="imagebanniere img-fluid" src="{{ asset('images_the_district/fosyyyy.jpg') }}" alt="banniere">
         </div>
     </div>
 </div>
    {{ form_start(form) }}
<div class='container mt-4'>
    <div class='row justify-content-center'>

       <div class="couleur col-6 mb-3">
                    {{ form_row(form.nom) }}
                </div>

                <div class=" couleur col-6 mb-3">
                    {{ form_row(form.prenom) }}
                </div>

                <div class=" couleur col-6 mb-3">
                    {{ form_row(form.email) }}
                </div>

                <div class=" couleur col-6 mb-3">
                    {{ form_row(form.telephone) }}
                </div>

                <div class=" couleur col-12 mb-3">
                    {{ form_row(form.demande) }}
                </div>

                <div class="mt-3 justify-content-center">
                    {{ form_row(form.save) }}
                </div>
                
            </div>
        </div>
    {{ form_end(form) }}




{% endblock %}